/* The browser window */
.container {
  display: inline-block;
  width: min(850px, 100%);
  border: 3px solid #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-radius: 10px;
  text-align: left;
}

/* Container for columns and the top "toolbar" */
.row {
  padding: 10px;
  background: #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
}

.left {
  width: 25%;
}

.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Three dots */
.dot {
  margin-right: 4px;
  margin-top: 4px;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

/* Style the input field */
input[type='text'] {
  width: 100%;
  color: #666;
}

.domain {
  border: none;
  background-color: white;
  border-radius: 3px;
  padding: 5px;
}

/* Page content */
.content {
  padding: 15px;
}
